
body {
    font-family: Arial
}

#root {
    text-align: center;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 2em;
}
.cell-selected {
    background-color: #32a0a8aa;
}
.peer-selected {
    background-color: #32a0a844;
}

.cell:first-child {
    border-left: 2px solid black;
}
.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.sub-cell {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 0.4em;
}

.row {
    display: flex;
    justify-content: center;
}
.row:first-child {
    border-top: 1px solid black;
}
.row:nth-child(3n) {
    border-bottom: 2px solid black;
}

.sub-row {
    display: flex;
    justify-content: center;
}

.grid {
    display: inline-block;
    border: 2px solid black;
}
